# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de log
*.log

# Configurações locais do VS Code
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env
config.py
